<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="nav-bar brand" href="VN MONGO SCRAPER"></a>
      </div>
        <ul class="navbar-nav nav mr-auto">
            <li class="nav-item">
                <a class="btn btn-warning" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning scrape-new" href="#">Scrape New Articles</a>        
            </li>
            <li class="nav-item">
                <a class="btn btn-warning" href="#">Clear Articles</a>
            </li>
        </ul>
    </div>
    </nav>   
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">NEWS SCRAPER</h1>
            <p class="lead">VICE NEWS EDITION</p>
        </div>
    </div>

    <div class="card article-container">
        <h5 class="card-header"><a href="#" class="btn btn-warning ml-auto">Save Article</a></h5>
        <div class="card-body">
            <p class="card-text"></p>
        </div>
    </div>
