 <div class="modal fade" id="myModal">
    <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
        <div class="modal-title"></div>
        </div>
        <div class="modal-body">
        <p id="note">Notes</p>
        <div class="input"></div>
        </div>
    
    </div>
    </div>
</div>
<nav class="navbar navbar-expand">
      <div class="navbar-header">
        <a class="nav-bar brand" href="/"></a>
      </div>
        <ul class="navbar-nav nav mr-auto">
            <li class="nav-item">
                <a class="btn btn-home btn-warning" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning" href="/">Scrape New Articles</a>        
            </li>
        </ul>
</nav>   
    
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">NEWS SCRAPER</h1>
        <p class="lead">VICE NEWS EDITION</p>
    </div>
</div>

<div class="article-container"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/index.js"></script>