<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="nav-bar brand" href="/"></a>
      </div>
        <ul class="navbar-nav nav mr-auto">
            <li class="nav-item">
                <a class="btn btn-warning" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning scrape-new">Scrape New Articles</a>        
            </li>
            <li class="nav-item">
                <a class="btn btn-warning" href="#">Clear Articles</a>
            </li>
        </ul>
    </div>
    </nav>  

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">NEWS SCRAPER</h1>
        <p class="lead">VICE NEWS EDITION</p>
    </div>
</div>

<div class="container-fluid article-container">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/saved.js"></script>